


#snackbar{
    visibility: hidden;
    position: fixed;
    width: 450px;
   
    top: 8%;
    left: 50%;
    margin-left: -225px; /* Negative half of width. */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 25px;
    z-index: 1;
    font-size: 20px;
  }

  #snackbar2 {
    visibility: hidden;
    position: fixed;
    width: 350px;
    
    top: 30%;
    left: 50%;
    margin-left: -175px; /* Negative half of width. */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 25px;
    z-index: 1;
    font-size: 20px;
  }
  
  #snackbar.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  #snackbar2.show {
    visibility: visible;
    
  }
  
  
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 8%; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 8%; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 8%; opacity: 1;} 
    to {top: 8%; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 8%; opacity: 1;}
    to {top: 8%; opacity: 0;}
  }